<div class="table table-hover table-bordered">
<h1>Editar Cliente</h1>
</div>
<%= render 'form', cliente: @cliente %>

<div class="col-xs-5">
  <div class="field">
<%= link_to 'Verificar o Cliente', @cliente, class: 'form-control'%>
  </div>
</div>
