<center>
<div class="container-fluid">
   <div class="col-xs-12">
      <div class="form-group busca_formulario">
          <label>Data da Locação</label>
              <%= form_tag busca_veiculo_path, method: :get, class: "navbar-form navbar-rigth" do %>
                <div class="form-group">
                  <%= date_field_tag :dataSaida, @veiculo_a_buscar, class: 'form-control' %>
                  <%= button_to "Buscar", nil, class: "btn btn-default" %>
                </div>
          <% end %>
        </div>
    </div>
</center>

