<h1>Editar Locação</h1>

<%= render 'form', locacao: @locacao %>
<div class="col-xs-5">
  <div class="field">
<%= link_to 'Verificar Locação', @locacao, class: 'form-control' %>
  </div>

  <div class="field">
<%= link_to 'Voltar', locacaos_path, class: 'form-control' %>
    </div>
</div>
